/* ---------------------------------------------------------------- */
/* 06.Form(Input, Comment)                             
/* ---------------------------------------------------------------- */
.comments-wrap {
    .comments-item-wrap {
        margin-bottom: 20px;
        .comments-item {
            display: flex;
            align-items: flex-start;
            .comment-header {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                justify-content: space-between;
                a {
                    color: $color_primary;
                    text-transform: capitalize;
                    display: inline-block;
                    font-weight: 500;
                    line-height: 1;
                    i {
                        margin-right: 10px;                    
                    }
                }
            }
            img {
                border-radius: 5px;
                margin-right: 20px;
            }
            &.sub-comment {
                margin-top: 20px;
                padding-left: 120px;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.leave-comment-wrapper {
    .comment-form-group {
        position: relative;
        .comment-form-control {
            width: 100%;
            display: block;
            border-radius: 5px;
            margin-bottom: 30px;
            padding: 18px 20px;
            border: none;
            transition: all 0.25s ease;
            box-shadow: 0 10px 20px 0 $color_shadow;
            &:focus {
                box-shadow: 0 15px 30px 0 $color_shadow;
            }
        }
    }
}
.comment-block-mt {
    margin-top: 30px;
}
.contact-alerts {
    .empty-form span, .success-form span, .email-invalid span {
        display: block;
        padding: 20px 18px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .empty-form span, .email-invalid span {
        background: $color_danger_bg;
	    color: $color_danger_text;
    }
    .success-form span {
        color: $color_black;
    }
}
.contact-form-group {
    position: relative;
    .form-input {
        width: 100%;
        display: block;
        border-radius: 5px;
        margin-bottom: 30px;
        padding: 18px 60px;
        border: none;
        transition: all 0.25s ease;
        box-shadow: 0 10px 20px 0 $color_shadow;
        &:focus {
            box-shadow: 0 15px 30px 0 $color_shadow_hover;
        }
        &.contact-text-area {
            margin-bottom: 36px;
        }
     }
     span {
        position: absolute;
        top: 18px;
        left: 18px;
        color: $color_primary;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: block;
        background: $color_primary;
        border:6px solid $color_white;
        box-shadow: 0 5px 8px 0 $color_shadow_hover;
     }
}
// Custom Modal
.custom-modal {
    .modal-content {
        background: transparent;
        .modal-header {
            padding: 20px 30px;
            background: $color_primary;
            border-radius: 5px 5px 0 0;
            .modal-title {
                color: $color_white;
                font-size: 1.1rem;
            }
            button {
                opacity: 1;
                span {
                    font-weight: 400;
                    color: $color_white;
                }
            }    
        }
        .modal-body {
            padding: 30px 30px 20px 30px;
            background: $color_white;
            border-radius: 0 0 5px 5px;
            .popup-form-group {
                position: relative;
                overflow: hidden;
                .popup-form-control {
                    height: 60px;
                    outline: none;
                    width: 100%;
                    border: none;
                    color: $color_black;
                    padding: 0 20px 0 50px;
                    margin-bottom: 20px;
                    transition: all 0.25s ease;
                    box-shadow: 0 10px 28px 0 $color_shadow;
                    &:focus{
                        outline: none;
                        border: none;
                        box-shadow: 0 23px 49px 0 $color_shadow;
                    }
                }
                > textarea.popup-form-control {
                    height: auto;
                    padding: 18px 50px;
                }
                > span {
                    position: absolute;
                    top: 22px;
                    left: 16px;
                    font-size: 16px;
                    color: $color_primary;
                    border-radius: 0 5px 5px 0;
                }            
                .default-button {
                    margin-bottom: 10px;
                }
                .file-upload {
                    margin-bottom: 20px;
                }
            }
        }
    }
}